[submodule "Asvalid-tool"]
	path = Asvalid-tool
	url = https://github.com/shivanand-patil/Asvalid-tool
[submodule "Asvalid-salt"]
	path = Asvalid-salt
	url = https://github.com/shivanand-patil/Asvalid-salt
